td {
/*    border: thin solid black;*/
    font-size: 100%;
    height: 57.5px;
    padding: 10px;
    width: 57.5px;
    }

#celda 
{
    background-image: url(./imagenes/plano_de_juego.jpg);
    background-size: 80px 80px;
    border-radius:1.5%;
    border:solid black;
    border-width:1px;
    /*          corX    - corY  - blur/gauss    - size  - color  */
    box-shadow: 0px     0px     60px            10px    rgba(0,0,0,.5);
}

#score {
        border-collapse: collapse;
        color:white;
        text-align:left;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
        background-color:cyan;
        border:solid black;
    }

#score th {
        border-collapse: collapse;
        border:solid black;
        color:white;
        text-align:left;
        padding-left:10px;
        padding-right:10px;
        padding-bottom:3px;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
        background-color:cyan;
    }


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

h1, #asd2 {
     font-family:comic sans ms;
     -webkit-text-stroke:1px black;
     color:white;
     text-shadow: 2px 2px black;
     opacity: 1;
     font-size: 50px;
}

#MENSAJE, .menú3x
{
        color:white;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
}

.menú3xx
{   
        background-color:rgba(0,0,0,0.5);
        padding:30px;
        border-radius:5px;
        margin-left:300px;
        margin-right:300px;
        color:white;
        text-align:justify;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
}

.menú3x
{
        color:white;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
        opacity: .7;
        transition: 0.3s;
}

.menú3x:hover
{
        color:white;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
        opacity: 1;
        transition: 0.3s;
}


.menú {
        color:white;
        border-radius: 3px 3px 3px 3px;
        font-size: 30px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
        width: 200px;
        height: 60px;
        border:solid black;
        box-shadow: 3px 3px 1px 1px black;
        cursor: pointer;
        margin-top: 1px;
        background-image:linear-gradient(cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan);
        opacity: 0.7;
        transition: 0.3s;
}

#asd5 img {
        transition: 40s;
        opacity: .6;
}

#asd3, #asd4 {
        transition: .3s;
        opacity: .7;
}

#test1, #test2, #test3 {
        transition: 3s;
        opacity: .75;
}

#asd3:hover,#asd4:hover, #asd5 img:hover, #test1:hover, #test2:hover, #test3:hover {
        transition: 0.3s;
        opacity: 1;
}

.menú:hover {
        border-color:green;
        color:yellow;
        opacity: 1;
        transition: 0.3s;
}

.menú2 {
        color:white;
        border-radius: 3px 3px 3px 3px;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
        width: 50px;
        height: 30px;
        border:solid black;
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        margin-top: 1px;
        background-image:linear-gradient(cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan);
}
.menú3 {
        color:white;
        border-radius: 3px 3px 3px 3px;
        font-size: 15px;
        text-shadow: 1px 1px black;
        font-weight: bold;
        -webkit-text-stroke:1px black;
        font-family:comic sans ms;
        width: 100px;
        height: 30px;
        border:solid black;
        box-shadow: 1px 1px 1px 1px black;
        cursor: pointer;
        margin-top: 1px;
        background-image:linear-gradient(cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan,green,cyan);
}

    @media (max-width: 2400px) {
    body
    {
        zoom:150%;
    }

}

